<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180248643582-98kgm1m66q9udhivhor5j5f6dcpfl422.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180248643582-98kgm1m66q9udhivhor5j5f6dcpfl422</string>
	<key>API_KEY</key>
	<string>AIzaSyBWPZG-SAYLZM39ayer4YFQra3jEStD5X0</string>
	<key>GCM_SENDER_ID</key>
	<string>180248643582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duyqk.Taxi</string>
	<key>PROJECT_ID</key>
	<string>itaxi-412ba</string>
	<key>STORAGE_BUCKET</key>
	<string>itaxi-412ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180248643582:ios:24f2d8cfbccc9c525ae2af</string>
</dict>
</plist>